################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/protasks.Api/.vs/protasks/FileContentIndex
/protasks.Api/.vs/protasks
/protasks.Api/.vs/ProjectEvaluation
/protasks.Api/obj
/protasks.Api/protasks.Interface/bin/Debug/net7.0
